.carousel-inner .item img {
    width: 100%;
    height: auto;
}
.full-width-navbar .navbar-brand {
    float: none;
}
.full-width-navbar {
    width: 100%;
    text-align: center;
}

.navbar {
    padding-top: 15px;
}
.custom-block {
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
}
.navbar-default .navbar-brand {
    color: red;
    font-size: 30px;
}